.fcontainer{
    display: flex;
    justify-content: center;

}


.fitems
{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    border-color: yellow;
    border-width: 10px;
    border-style: double;
}